$bg-verde:hsl(152, 69%, 31%);
$bg-gris:hsl(0, 0%, 73%);
$bg-bordo:hsl(355, 100%, 16%);
$bg-azul:rgb(1 30 56 / 100%);
$bg-blanco:rgb(255, 255, 255);
$bg-celeste:hsl(197, 97%, 25%);
$bg-amarillo:hsl(45, 75%, 43%);


.bg-verde{
	background-color: $bg-verde;
}

.bg-gris{
	background-color: $bg-gris;
}

.bg{
	background-color: $bg-azul;
}

.body-bgd{
    background-color: $bg-celeste;
    overflow-x: hidden;
}

.nav-link{
    color: $bg-blanco;
    &:hover{
        color: #000000;
    }
}