@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//vars fonts
$mainFont:'Roboto', sans-serif;
$secondaryFont:'Bebas Neue', cursive;
$titleFont:'Press Start 2P', cursive;
$timesFont:'Times New Roman', Times, serif;

//sizes
$textSm:0.6em;      // 10px
$textMd:1em;       // 16px
$textLg:1.3em;    // 20px
$textXl:1.6em;   // 25px
$textXxl:2em;   // 32px 
