footer {
    background-color: $bg-bordo;
    .copy {
        font-family:$timesFont;
        color: $bg-amarillo;
        position: relative;
        text-align: left;
        padding: 0.5em 1em 2em 1em;
        font-size: 13px;
    }
    .icons-footer {
        text-align: right;
        position: relative;
        text-decoration: none;
        a{
            text-decoration: none;
        }
    }
}

.flecha-top {
    .flecha-arriba {
    position: relative;
    bottom: 20px;
    transform: rotate(180deg);
    }
}

img.resolucion-delpi {
    height: 46px;
}

.footer {
    @include d-footer()
}
