/*------- index -------*/ 
/*------ palabras top ------*/ 
.palabras-header {
    position: absolute;
    width: 90%;
    z-index: 0;
    overflow: hidden;
    padding: 30px 20px;
    box-sizing: border-box;
}

.palabras {
    color: #ffffff;
    background-color: rgb(80 0 7 / 51%);
    border-radius: 9px;
    padding: 20px;
    h1 {
    padding: 10px 0;
    font-family:$titleFont;
    font-size: large;
    }
}



.palabras .parafo {
    font-family: $timesFont;
    font-size: $textMd;
    padding: 10px 0;
}

.mas-info {
    width: 9%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
    
}

/*------ main preguntas ------*/ 

#preguntas {
    margin-bottom: 40px;
}

.preg{
    margin: 0;
}

.frecuentes {
    color: #ffffff;
    margin-bottom: 20px;
}

.preguntas-main {
    font-size: $textLg;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: $mainFont;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}

/*--------- Productos --------*/
/*------ header Productos ------*/

.header-top {
    background-color: azure;
    margin: 15px 30px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    h3 {
        padding: 20px 0 0 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #474747;
        font-size:$textMd;
    }    
}

.buscar {
    padding: 10px 4px 5px 6px;
}

.search {
    border-radius: 20px;
    padding: 10px 6px;
    width: 100%;
    background-color: #1f1f1f;
    font-size: 10px;
}

.header-ordenar {
    background-color: azure;
    text-align: right;
    padding: 16px 16px 9px 0;
    margin: 0 30px;
}

/*------ main Productos ------*/

.main-productos {
    text-align: center;
    margin: 20px 30px 15px 30px;
    background-color: #706f6f;
}


.price-old {
    text-decoration: line-through;
    color: #1f1f1f;
}

.figura div {
    text-align:center;
}


/*------ lateral  ------*/


.lateral-categoria {
    background-color: #d4d4d4;
    margin: 20px;
    height: 30%;
    text-align: center;
}

.titulos-lat {
    background-color: #000000;
    color: #ffffff;
    font-size: $textSm;
    padding: 13px 10px;
    margin-top: 15px;
}

.todos-product { h5{
    text-align: center;
    margin-top: 10px;
    font-size: $textMd;
}
}
.lateral-noticias {
    background-color: #d4d4d4;
    margin: 20px;
    height: 60%;
    text-align: center;
    .youtube {
        width: 90%;
        margin: 10px;
    }
}

/*--------- Reglamento --------*/
/*------ header reglamento ------*/

.background-reglamento{
    img {
    width: 100%;
    height: 10em;
    }
}

.titulo-header {
    color: #ffffff;
    position: relative;
    bottom: 21%;
}

.centrado-reglamento{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: ($textXxl + 0.5em);
    font-family: $secondaryFont;
    letter-spacing: 3px;
}

/*------ subnav reglamento ------*/

.contenedorMiga{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.listaMiga {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin: 16px 10px 0;
    list-style: none;
    >li+li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }
    a {
        color: rgb(250, 250, 250);
        text-decoration: none;
        &:hover{
            color: #000000;
        }
    }
}

.info-gen {
    color: #000000;
    text-align: center;
    margin: 15px 20px;
}

.lista-gen {
    padding: 0 24px 20px 20px;
    font-size: ($textMd - 0.25em);
}

.bloque-contenido {
    visibility: hidden;
    display: none;
    background-color: #9ea1a1;
    border-radius: 40px;
    text-align: center;
    list-style: none;
        ul li {
            list-style: none;
                a {
            color: #6e630f;
        }
    }
}

.reglas-descargar {
    background-color: #2E7D32;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    margin: 20px 20px;
    font-size: ($textMd - 0.2em);
    a {
        text-decoration: none;
        color: #ffffff;
        font-size: ($textMd - 0.25em);
    }
}

hr {
    background-color: #000000;
}

.nover{
    display: none;
}

.li-reglamento{
    color: #000000;
}

.text-white {
    color: #ffffff;
}

.container-rest {
    padding: 15px;
}

.container-reglas-web{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.bg-blanco {
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 40px;
}

.reglas-text{
    font-size: ($textSm + 0.25em);
    font-family: $mainFont;
    margin-bottom: 10px;
    list-style: decimal;
    letter-spacing: 0;
    line-height: 26px;
}

span.subrayado {
    background-color: hsl(0deg 0% 72%);
}

.reglas-web{
    color: #000000;
    font-size: $textXl;
    font-family: $secondaryFont;
    width: 90%;
    overflow: hidden;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;
}

.img-web{
    padding: 60px 20px;
}

/*--------- Inscripciones --------*/
/*------ main Inscripciones ------*/

.container-inscrip {
    background-color: #fff;
    border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    margin: 40px auto;
    max-width: 80%;
    min-height: 580px;
    .formulario-inscrip {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    
    .mitad-container {
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .formu {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 30px;
        height: 100%;
        text-align: center;
        h1{
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
        input{
            margin: 4px;
            background-color: #eee;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
        }
        .input-med{
            width: 47%;
            margin: 0px;
        }
        a {
            color: #333;
            font-size: ($textMd - 0.2em);
            text-decoration: none;
            margin: 15px 0;
            }
        .iconos-container {
            margin: 20px 0;
            a {
                border: 1px solid #DDDDDD;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                height: 40px;
                width: 40px;
            }
        }
        .d-flex {
            justify-content: space-between;
        }
        .proceso-inscrip {
            font-size: 12px;
        }
        .boton-enviar {
            border-radius: 20px;
            border: 1px solid #FF4B2B;
            background-color: #FF4B2B;
            color: #FFFFFF;
            font-size: ($textSm + 0.2em);
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        }
    }
}

.img-inscrip-container {
    position: absolute;
    top: 0;
    left: 44%;
    width: 63%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 0;
    display: none;
    .img-robots {
        img{
        width: 100%;
        }
    }
}

/*--------- Contacto --------*/
/*------ main Contacto ------*/

.contacto {
    background-color: rgb(36 36 36 / 80%);
    margin: 26px;
    justify-content: space-around;
    border-radius: 60px;
    .formulario {
        overflow: hidden;
        padding: 14px 23px;
        box-sizing: border-box;
        margin: 30px auto;
    }
    .contact-title {
    text-align: center;
    font-size: $textXl;
    font-weight: 400;
    font-family: $mainFont;
    padding: 3px;
    color: #ffffff;
    border-bottom: solid 3px;
    margin: 10px;
    }
}

.form {
    display: grid;
    label {
        padding: 5px 0px;
        font-size: $textMd;
        color: #ffffff;
    }
}

/*--------- 404 --------*/
/*------ body 404 ------*/

.body404{
    font-family: $secondaryFont;
    color: #888;
    margin: 0;
    overflow:hidden;
}

#main{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-size: ($textXxl + $textMd);
        display: inline-block;
        padding-right: 12px;
        margin-bottom: 40px;
    }
    .robots{
        img{
            width: 150px;
        }
    }
}

.volver a {
    color: #fff;
    background: #272727;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 13px;
    font-family: arial, serif;
    font-weight: bold;
    border-radius: .5em;
}



