<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este proyecto promueve la construcción de robots a partir de componentes electromecánicos en desuso, para luego utilizarlos en competencias conocidas como BattleBots. El objetivo principal es desarrollar estrategias y herramientas didácticas en la enseñanza de las artes técnicas que propicien el aprendizaje significativo y sirvan como práctica dentro del perfil profesional del Técnico Electrónico.">
    <meta name="keywords" content="pelea de robot,robots,delpini,torneo,argentina,electrónica">
    <title>Inscripciones - Kill bots</title>
    <link rel="icon" href="../img/favicon.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/style2.css">
</head>
<body class="body-inscrip">
    <div class="grid-inscripciones">
        <nav class="navbar navbar-expand-sm bg sticky-top" id="g-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                <img src="../img/killbots.svg" alt="">
                </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html#g-main">Preguntas Frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/reglamento.html">Reglamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/inscripciones.html">Inscripciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <!-- header -->
    <header id="header-grid-ins"class="background-reglamento">
        <img src="../img/header.jpg" alt="">
    </header>
    <main id="main-grid-ins">
        <div>
            <div class="background-inscrip">
                <div>
                <h1 class="texto-inscrip">INSCRIPCIONES</h1>
                </div>
                <div>
                <h3 class="texto-inscrip">Proseso de incripción</h3>
                </div>
            </div>
            <div class="background-inscrip2">
                    <div class="formulario-inscrip">
                    <form class="incrip" action="inscripciones.php">
                        <div class="form-centrado">
                            <label for="email">Correo electronico :</label> <br>
                                <input type="email" id="email" placeholder="Escribe tu mail" >
                        </div><br>
                        <div class="form-centrado">
                            <label for="escuela">Escuela:</label><br>	
                                <input type="escuela" id="escuela" placeholder="Escribe tu escuela">
                        </div><br>
                        <div class="form-centrado">
                        <label for="curso">Curso :</label>	<br>
                            <input type="curso" id="curso" placeholder="Escribe en que año estas">
                        </div><br>
                        <div class="form-centrado">
                        <label for="Integrantes">Integrantes :</label>	<br>
                            <input type="integrantes" id="integrantes" placeholder="Numero de integrantes">
                        </div><br>
                        <div class="form-centrado">
                            <label for="provincia">Provicia :</label>	<br>
                            <input type="provincia" id="provincia" placeholder="seleciona tu provincia">
                        </div><br>
                        <div class="form-centrado"> 
                            <label for="localidad">localidad o comuna :</label>	<br>
                            <input type="localidad" id="localidad" placeholder="localidad o comuna">
                        </div><br>
                        <hr>
                        <div class="contact-emer">
                            <h2 class="inscripciones-title">CONTACTO DE EMERGENCIA</h2>
                        <div class="form-centrado">
                            <label for="nombre">Nombre y Apellido :</label>	<br>
                            <input type="nombre" id="nombre" placeholder="Nombre y Apellido">
                        </div><br>
                        <div class="form-centrado">
                            <label for="Telefono">Telefono celular :</label><br>	
                            <input type="Telefono" id="Telefono" placeholder="Numero de telefono">
                        </div><br>
                        </div>
                        <div class="enviar-inscrip">
                            <input type="button" class="enviar-ins" value="Inscribirse / Registrarse">
                        </div>
                    </form>
                    </div>
            </div>
        </div>
    </main>
    <!-- pie -->
    <footer id="g-footer">
        <div class="flecha-top">
            <a href="#header-grid-ins">
                <img src="../img/scroll_arrows.png" class="flecha-arriba" alt="boton top menu">
            </a>
        </div>
        <div class="footer">
        <div class="copy">
            <p>Copyright © 2022 ELUK. All rights reserved.</p>
        </div>
        <div class="icons-footer">
            <a href="https://et13delpini.edu.ar/" target="_blank">
                <img src="../img/delpini.png" class="resolucion-delpi"alt="logo delpini footer">
            </a>
            <a href="https://www.facebook.com/ET13Delpini" target="_blank">
                <img src="../img/facebook.png" alt="logo facebook footer">
            </a>
            <a href="https://www.youtube.com/channel/UCf4N6kbsjljnpUha3H01e1A" target="_blank">
                <img src="../img/youtube.png" alt="logo youtube footer">
            </a>
        </div>
        </div>
    </div>
    </footer>
</div>
    <!-- bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>