<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este proyecto promueve la construcción de robots a partir de componentes electromecánicos en desuso, para luego utilizarlos en competencias conocidas como BattleBots. El objetivo principal es desarrollar estrategias y herramientas didácticas en la enseñanza de las artes técnicas que propicien el aprendizaje significativo y sirvan como práctica dentro del perfil profesional del Técnico Electrónico.">
    <meta name="keywords" content="pelea de robot,robots,delpini,torneo,argentina,electrónica">
    <title>Productos - Kill bots</title>
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style2.css"><!-- MY css -->
</head>
<body class="body-products">
    <div class="contenedor">
        <!-- Inicio de barra de busqueda -->
        <nav class="navbar navbar-expand-sm bg sticky-top" id="g-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/killbots.svg" alt="">
                </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html#g-main">Preguntas Frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/reglamento.html">Reglamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/inscripciones.html">Inscripciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!----- header ----->    
        <header id="sub-nav">
            <div class="header-top">
                <h3>PRODUCTOS</h3>
                <div class="buscar">
                    <input type="search" class="search" name="busqueda" placeholder="BUSCAR PRODUCTOS">
                </div>
            </div>
            <div class="header-ordenar">
                <select name="" id="">
                    <option value="">Menor precio</option>
                    <option value="">Mayor precio</option>
                    <option value="">A-Z</option>
                    <option value="">Z-A</option>
                </select>
            </div>
        </header>

        <!-- Main -->
        <main id="productos">
            <div class="main-productos">	
                    <div class="row">	
                        <!-- Robot - 1 -->	
                        <figure class="col-sm-8 col-md-6 col-lg-4 p-4">
                            <img src="../img/robot1.jpg" alt="robot1" class="w-100 img-thumbnail">
                                <div class="card text-center mt-2">
                                    <div class="card-header">Robot-1</div>
                                    <div class="card-body p-1 ">
                                        <a href="#" class="btn bg-verde text-white">$14.999,99</a>
                                        <a href="#" class="btn bg-gris price-old mx-2">$14.999,99</a>
                                    </div>   
                                </div>
                        </figure>
                        <!-- Robot - 2 -->
                        <figure class="col-sm-8 col-md-6 col-lg-4 p-4">
                            <img src="../img/robot2.jpg" alt="robot2" class="w-100 img-thumbnail">
                                <div class="card text-center mt-2">
                                    <div class="card-header">Robot-1</div>
                                    <div class="card-body p-1 ">
                                        <a href="#" class="btn bg-verde text-white">$14.999,99</a>
                                        <a href="#" class="btn bg-gris price-old mx-2">$14.999,99</a>
                                    </div>   
                                </div>
                        </figure>
                        <!-- Robot - 3 -->
                        <figure class="col-sm-8 col-md-6 col-lg-4 p-4">
                            <img src="../img/robot3.jpg" alt="robot3" class="w-100 img-thumbnail">
                            <div class="card text-center mt-2">
                                <div class="card-header">Robot-1</div>
                                <div class="card-body p-1 ">
                                    <a href="#" class="btn bg-verde text-white">$14.999,99</a>
                                    <a href="#" class="btn bg-gris price-old mx-2">$14.999,99</a>
                                </div>   
                            </div>
                        </figure>
                    </div>
            </div>
        </main>

        <!-- Main -->
        <aside id="aside-r">
            <div class="lateral-categoria">
                <div class="titulos-lat">
                    <h6>CATEGORIAS</h6>
                    <hr class="bg-colors">
                </div>
                <div class="todos-product">
                    <h5>Todos los productos</h5>
                </div>
            </div>
            <div class="lateral-noticias">
                <div class="titulos-lat">
                    <h6>ULTIMAS NOTICIAS</h6>
                    <hr class="bg-colors">
                </div>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <iframe class="youtube" src="https://www.youtube.com/embed/jly7YOOcWJY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="youtube" src="https://www.youtube.com/embed/qsJ1JmxGMK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="youtube" src="https://www.youtube.com/embed/09ekK2QgflM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Atras</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Adelante</span>
                            </button>
                    </div>
            </div>   
        </aside>

        <!-- pie -->
        <footer id="footer">
            <div class="flecha-top">
                <a href="#sub-nav">
                    <img src="../img/scroll_arrows.png" class="flecha-arriba" alt="boton top menu">
                </a>
            </div>
            <div class="footer">
                <div class="copy">
                    <p>Copyright © 2022 ELUK. All rights reserved.</p>
                </div>
                <div class="icons-footer">
                    <a href="https://et13delpini.edu.ar/" target="_blank">
                        <img src="../img/delpini.png" class="resolucion-delpi"alt="logo delpini footer">
                    </a>
                    <a href="https://www.facebook.com/ET13Delpini" target="_blank">
                        <img src="../img/facebook.png" alt="logo facebook footer">
                    </a>
                    <a href="https://www.youtube.com/channel/UCf4N6kbsjljnpUha3H01e1A" target="_blank">
                        <img src="../img/youtube.png" alt="logo youtube footer">
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="../js/bootstrap.min.js"></script><!-- bootstrap js -->
</body>
</html>