<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Kill bots</title>
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body-products">
    <div class="contenedor">
    <!-- Inicio de barra de busqueda -->
        <nav class="botonera" id="g-nav">
            <a href="../index.html">
            <img src="../img/killbots.svg" class="logo-nav" alt="logo kill bots">
            </a>
        <!-- Inicio de barra de busqueda -->
            <ul>
                <li>
                    <a href="../index.html#inicio">Inicio</a>
                </li>
                <li>
                    <a href="../index.html#preguntas">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a href="../views/productos.html">Productos</a>
                </li>
                <li>
                    <a href="../views/reglamento.html">Reglamento</a>
                </li>
                <li>
                    <a href="../views/inscripciones.html">Inscripciones</a>
                </li>
                <li>
                    <a href="../views/contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    <header id="sub-nav">
        <div class="header-top">
            <h3>PRODUCTOS</h3>
            <div class="buscar">
                <input type="search" class="search" name="busqueda" placeholder="BUSCAR PRODUCTOS">
            </div>
        </div>
        <div class="header-ordenar">
            <select name="" id="">
				<option value="">Menor precio</option>
				<option value="">Mayor precio</option>
				<option value="">A-Z</option>
				<option value="">Z-A</option>
			</select>
        </div>
    </header>
    <main id="productos">
        <div class="main-productos">
            <div class="venta">			
                    <figure class="figura">
                        <img src="../img/robot1.jpg" alt="robot1">
                        <figcaption>Robot-1</figcaption>
                        <div>
                            <p class="price">$14.999,99</p>
                            <p class="price-old">$14.999,99</p>
                        </div>
                    </figure>
        
                    <figure class="figura">
                        <img src="../img/robot2.jpg" alt="robot2">
                        <figcaption>Robot-2</figcaption>
                        <div>
                            <p class="price">$14.999,99</p>
                            <p class="price-old">$14.999,99</p>
                        </div>
                    </figure>
        
                    <figure class="figura">
                        <img src="../img/robot3.jpg" alt="robot3">
                        <figcaption>Robot-3</figcaption>
                        <div>
                            <p class="price">$14.999,99</p>
                            <p class="price-old">$14.999,99</p>
                        </div>
                    </figure>
            </div>
        </div>
    </main>
        <aside id="aside-r">
            <div class="lateral-categoria">
                <div class="titulos-lat">
                    <h3>CATEGORIAS</h3>
                </div>
                <div class="todos-product">
                    <h5>Todos los productos</h5>
                </div>
            </div>
            <div class="lateral-noticias">
                <div class="titulos-lat">
                    <h3>ULTIMAS NOTICIAS</h3>
                </div>
                <div>
                    <iframe class="youtube" src="https://www.youtube.com/embed/-2khasJJaLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            
        </aside>
    

    <!-- pie -->
    <footer id="footer">
        <div class="flecha-top">
            <a href="#top-menu">
                <img src="../img/scroll_arrows.png" class="flecha-arriba" alt="boton top menu">
            </a>
        </div>
        <div class="footer">
        <div class="copy">
            <p>Copyright © 2022 ELUK. All rights reserved.</p>
        </div>
        <div class="icons-footer">
            <a href="https://et13delpini.edu.ar/" target="_blank">
                <img src="../img/delpini.png" class="resolucion-delpi"alt="logo delpini footer">
            </a>
            <a href="https://www.facebook.com/ET13Delpini" target="_blank">
                <img src="../img/facebook.png" alt="logo facebook footer">
            </a>
            <a href="https://www.youtube.com/channel/UCf4N6kbsjljnpUha3H01e1A" target="_blank">
                <img src="../img/youtube.png" alt="logo youtube footer">
            </a>
        </div>
        </div>
    </footer>
</div>
</body>
</html>