<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reglamento - Kill bots</title>
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="grid-contenedor-reglamento">
    <nav class="botonera" id="g-nav">
        <a href="../index.html">
        <img src="../img/killbots.svg" class="logo-nav" alt="logo kill bots">
        </a>
    <!-- Inicio de barra de busqueda -->
        <ul>
            <li>
                <a href="../index.html#inicio">Inicio</a>
            </li>
            <li>
                <a href="../index.html#preguntas">Preguntas Frecuentes</a>
            </li>
            <li>
                <a href="../views/productos.html">Productos</a>
            </li>
            <li>
                <a href="../views/reglamento.html">Reglamento</a>
            </li>
            <li>
                <a href="../views/inscripciones.html">Inscripciones</a>
            </li>
            <li>
                <a href="../views/contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
    <!-- header -->
    <header id="header-gridr"class="background-reglamento">
        <img src="../img/header.jpg" alt="header">
        <div class="titulo-header">
        <h1 class="centrado-reglamento">Reglamento</h1>
        </div>
    </header>
    <section>
        <div id="info-regla">
            <h2 class="info-gen">INFORMACIÓN GENERAL</h2>
            <div class="lista-gen">
            <ul>
                <li class="li-reglamento">Lugar Geográfico: <span class="text-white">Villa Lugano; Buenos Aires; Argentina.</span></ñ>
                <li class="li-reglamento">Centro de Organización: <span class="text-white">Ing. jose Luis delpini.</span></li>
                <li class="li-reglamento">Fecha: <span class="text-white">12 de julio 2</span></li>
                <li class="li-reglamento">Organización: <span class="text-white">Electronica</span></li>
            </ul>
            </div>
        </div>
        <div class="reglas-descargar">
            <a href="" download="reglas - killbots" class="btn">DESCARGAR REGLAMENTO COMPLETO</a>
        </div>
        
    </section>
    <aside id="aside-gridr">
        <div class="bloque-contenido">
            <div><h3>CONTENIDOS</h3></div>
            <ul>
                <li>
                    <a href="">restricciones para la construcción</a>
                </li>
                <li>
                    <a href="">Categorías por peso</a>
                </li>
                <li>
                    <a href="">Movilidad</a>
                </li>
                <li>
                    <a href="">Radiofrecuencia</a>
                </li>
                <li>
                    <a href="">Baterias  y fuentes de energia</a>
                </li>
                <li>
                    <a href="">Neumatica</a>
                </li>
            </ul>

        </div>
    </aside>
    <main id="main-gridr">
        <hr>
        <div class="reglas-web">
            <h3 class="info-gen">titulo</h3>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipis
                icing elit. Assumenda reprehenderit accusamus m
                inus tempore quibusdam neque? Facere natus
                suscipit quas consequatur, ea excepturi ita
                que, modi veniam exercitationem laboriosam d
                olor neque impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia numquam ipsam, sequi quaerat praesentium nisi minima eum minus voluptates ipsa perferendis accusamus velit adipisci soluta id officiis tempora neque facere!
            </p>
        </div>
        <div class="reglas-web">
            <h3 class="info-gen">titulo</h3>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipis
                icing elit. Assumenda reprehenderit accusamus m
                inus tempore quibusdam neque? Facere natus
                suscipit quas consequatur, ea excepturi ita
                que, modi veniam exercitationem laboriosam d
                olor neque impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia numquam ipsam, sequi quaerat praesentium nisi minima eum minus voluptates ipsa perferendis accusamus velit adipisci soluta id officiis tempora neque facere!
            </p>
        </div>
        <div class="reglas-web">
            <h3 class="info-gen">titulo</h3>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipis
                icing elit. Assumenda reprehenderit accusamus m
                inus tempore quibusdam neque? Facere natus
                suscipit quas consequatur, ea excepturi ita
                que, modi veniam exercitationem laboriosam d
                olor neque impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia numquam ipsam, sequi quaerat praesentium nisi minima eum minus voluptates ipsa perferendis accusamus velit adipisci soluta id officiis tempora neque facere!
            </p>
        </div>
        <div class="reglas-web">
            <h3 class="info-gen">titulo</h3>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipis
                icing elit. Assumenda reprehenderit accusamus m
                inus tempore quibusdam neque? Facere natus
                suscipit quas consequatur, ea excepturi ita
                que, modi veniam exercitationem laboriosam d
                olor neque impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia numquam ipsam, sequi quaerat praesentium nisi minima eum minus voluptates ipsa perferendis accusamus velit adipisci soluta id officiis tempora neque facere!
            </p>
        </div>
    </main>
    <!-- pie -->
    <footer id="g-footer">
        <div class="flecha-top">
            <a href="#top-menu">
                <img src="../img/scroll_arrows.png" class="flecha-arriba" alt="boton top menu">
            </a>
        </div>
        <div class="footer">
        <div class="copy">
            <p>Copyright © 2022 ELUK. All rights reserved.</p>
        </div>
        <div class="icons-footer">
            <a href="https://et13delpini.edu.ar/" target="_blank">
                <img src="../img/delpini.png" class="resolucion-delpi"alt="logo delpini footer">
            </a>
            <a href="https://www.facebook.com/ET13Delpini" target="_blank">
                <img src="../img/facebook.png" alt="logo facebook footer">
            </a>
            <a href="https://www.youtube.com/channel/UCf4N6kbsjljnpUha3H01e1A" target="_blank">
                <img src="../img/youtube.png" alt="logo youtube footer">
            </a>
        </div>
        </div>
    </footer>
</div>
</body>
</html>